@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<CascadingAuthenticationState>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <AuthorizeView>
                    <Authorized>
                        <a href="/logout" class="btn btn-sm btn-outline-secondary">Logga ut</a>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/login" class="btn btn-sm btn-outline-primary">Logga in</a>
                    </NotAuthorized>
                </AuthorizeView>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingAuthenticationState>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
